.crudForm {
    width: 250px;
    height: 180px;
}

.inputTextField {
    width: 100%;
    display: block;
}

.closeBtn:hover {
    cursor: pointer;
}

.deleteSubtitle {
    margin-bottom: 25px !important;
}

.deleteForm {
    width: 250px;
    height: 200px;
}


@media screen and (max-width: 480px) {
    .crudForm {
        width: 100%; 
        height: 100%; 
    }

    .deleteForm {
        width: 100%;
        height: 100%;
    }
}